[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}
p {
    font-size: 130%;
    font-family: Verdana;
    
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-color: lightgray;
}

.tab{
    cursor: pointer;
    padding: 10px;
}

.tab.active{
    background-color: #b6b6b6fa;
}

.tab:hover{
    background-color: #AAA;
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    font-family: Verdana;
    font-size: 130%;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
background-color: #dddddd;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid black;
  }

.parallax {
    background-image: url("HCJ.jpg");
  

    min-height: 500px;
  

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
   }